/* delete the following line if no text is used
 edit the line if you wanna use other fonts*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

/*use only the availabl e space inside the 400x400 frame*/

.frame {
    background: #812;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
    font-weight: 600;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 400px;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 400px;
}

.center {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}